/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    font-family: "Roboto", sans-serif;
    background-color: white;
    font-size: 14px;
}
.header{
    background-image: linear-gradient(rgba(154, 129, 82, 0.15),rgba(167, 144, 100,0.15)), url("../img/img1.webp");
    background-position: center;
    background-size: cover;
    height:110vh;
    background-attachment: fixed;
    position: relative;
}
.main-navigation{
    display: flex;
    list-style: none;
    justify-content: end;
    border-bottom: 0.5px solid rgb(167, 144, 100);
    height: 60px;
}
.main-navigation li i{
    padding:5px;
    color:white;
    font-size:15px;
    position: relative;
}
.main-navigation li{
    width:100px;
    padding:20px 40px;  
}
.main-navigation li i::after{
    content:"";
    position: absolute;
    background-color: white;
    height:3px;
    width:100%;
    transform: scaleX(0);
    left:0;
    bottom:0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main-navigation li i:hover::after{
    transform: scaleX(1);
}
.row{
    width:50%;
    height:300px;
    position: absolute;
    top: 170px;
}
.heading-main-text1{
    color: black;
    text-decoration: none;
    display: block;
    height:50px;
    margin: 20px 180px;
    font-size: 25px;
    background-color: white;
    text-align: center;
    padding: 11px 0px;
    width:50%;
    transition: all 1.5s;
}
.heading-main-text1:hover,
.heading-main-text1:active{
    color:rgb(196, 165, 124);
}
.heading-main-text2{
    height:50px;
    color:white;
    text-align: center;
    padding:5px 0px;
}
.btn1{
    height:50px;
    color: white;
    margin: 20px 230px;
    width:35%;
    border-style: dashed;
    border-radius: 10px;
    border-color: antiquewhite;
    text-align: center;
    padding:11px 0px;
    font-size: 19px;
}
.btn2{
    height:50px;
    color: white;
    display: block;
    font-size: 25px;
    background-color:rgb(196, 165, 124); 
    text-align: center;
    text-decoration: none;
    padding:11px 0px;
    width:35%;
    margin: 0px 230px;
    border-radius: 10px;
    transition: all 1.5s;
}
.btn2:hover,
.btn:active{
    background-color: black;
}
.menu-main{
    width:45%;
    height:520px;
    position: absolute;
    right:50px;
    top:100px;
}
.menu-main-list{
    height:80px;
    display:flex;
    margin: 20px 0px;
    background-color: rgb(241, 228, 207);
    border-radius: 10px;
}
.menu-main-left img{
    height:80px;
}
.menu-main-top{
    display: flex;
    margin:15px 0px;
    border-bottom: 0.5px solid  black;
}
.logo-main{
    color:rgb(131, 106, 79);
}
.name-coffee{
    width:150px;
    color:rgb(142, 112, 79);
    text-decoration: none;
    margin-left:15px;
    transition: all 1.5s;
}
.name-coffee:hover,
.name-coffee:active{
    color:black;
}
.price{
    color :rgb(159, 125, 86);
    margin-left:300px;
}
.menu-main-bottom i{
    color: black;
    margin-left:260px;
    transition: all 1.5s;
}
.menu-main-bottom i:hover,
.menu-main-bottom i:active{
    color:#6e5337;
}
.wrapped1{
    display:flex;
    margin:50px 20px;
    height:600px;
}
.introduce-left img{
    height:600px;
}
.introduce-name{
    margin-top:100px;
    margin-left:50px;
    color:#6e5337;
    font-family: "Roboto Mono", monospace;
}
.frendly{
    color: black;
    text-transform: uppercase;
    margin-left:50px;
    margin-bottom:80px;
}
.introduce-main{
    margin-left:50px;
    font-size: 22px;
    font-family: "Wire One", sans-serif;
}
.wrapped2{
    display: flex;
    background-color: #c1a17e;
    margin: 100px 50px;
    height:500px;
    border-radius:30px;
    justify-content: center;
}
.button-coffee{
    width:33,3%;
}
.button-tea{
    width:33,3%;
}
.button-cake{
    width:33,3%;
}
.product-top{
    height:280px;
}
.product-top img{
    width: 220px;
    height:200px;
    padding:15px;
    margin: 30px 100px;
    background-color: white;
    border-radius: 50%;
}
.product-bottom{
    height:220px;
    text-align: center;
}
.product-cat{
    text-decoration: none;
    font-size: 35px;
    color:white;
}
.introduce-product{
    color:white;
    font-size: 20px;;
    padding:20px 0px;
}
.footer{
    background-image:linear-gradient(rgba(33, 25, 12, 0.15),rgba(28, 27, 25, 0.15)), url("../img/img17.jpg");
    height:150vh;
    background-position: center;
    background-size: cover;
}
.title{
    text-align: center;
    height:30vh;
}
.name-coffee-2{
    color:#bf9160;
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
    padding:5px 0px;
}
.menu-today{
    display: block;
    text-decoration: none;
    font-size: 40px;
    color: white;
    padding:15px 0px;
}
.infor-main{
    display: flex;
    flex-wrap: wrap;
}
.infor-main-list{
    width:50%;
    height:20vh;
    display: flex;
    margin:12px 0px;
}
.image-infor{
    height:20vh;
    width:120px;
}
.infor-main-top{
    display: flex;
    padding:20px 15px;
    height:10vh;
    border-bottom: 2px solid white;
}
.infor-icon{
    color:#e9e2da;
    font-size:20px;
}
.infor-name{
    color:white;
    text-decoration: none;
    margin-left:10px;
    width:200px;
    font-size:20px;
    transition: all 1s;
}
.infor-name:hover,
.infor-name:active{
    color:navajowhite;
}
.cost{
    color:white;
    margin-left:245px;
    font-size:20px;
}
.infor-introduce{
    color:white;
    font-size: 20px;
    height:10vh;
    padding:5px 15px;
}
.infor-open{
    text-align: center;
    margin-top:15px;
}
.view-add{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size:30px;
    border-radius: 10px;
    border:1px solid white;
    padding:10px 10px;
    transition: all 1s;
}
.view-add:hover,
.view-add:active{
    color: #c6a685;
}
.box{
    display: flex;
    width:100%px;
    height:300px;
    border: 2px solid orange;
}
.box1{
    background-color: #6e5337;
    width:20%;
    margin: 5px 4%;
}
.box2{
    background-color: blue;
    width:20%;
    margin:5px 0%;
}
.box3{
    background-color: red;
    width:20%;
    margin:5px 4%;
}
.box4{
    background-color: hotpink;
    width:20%;
    margin-right: 4%;
    margin-top: 5px;
    margin-bottom: 5px;
} */




/* *{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
:root{
    --primary-color:#4daf54;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: white;
    font-size: 14px;
    height:100vh;
    background: linear-gradient(to right, #4daf54,#3d8880);
}
.card__item{
    padding:15px;
    width:25%;
    height:450px;
    position: relative;
    background-color: #272d40;
    border-radius: 10px;
    color: white;
    list-style: none;
    border-bottom: 2px solid wheat;
    border-right: 2px solid white;
}
.card__heart, .card__cart{
    position: absolute;
    font-size: 15px;
    left: 20px;
    top:15px; 
}
.card__cart{
    left:unset;
    right: 15px;
}
.card__img{
    width:100%;
    height:55%;
    margin-top:35px;    
}
.card__img img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition: all 0.5s;
}
.card__item:hover .card__img img {
    transform:translateY(-90px) rotate(-20deg);
}
.card__name, .card__price{
    text-align: center;
    font-size: 17px;
    margin-top:5px;
    transition: all 0.5s;
}
.card__name a{
    color:var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
.card__name a::after{
    content: "";
    position: absolute;
    background-color:rgb(105, 200, 105);
    width:100%;
    height:2px;
    left:0;
    bottom:0;
    transform: scale(0);
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.card__name a:hover::after{
    transform: scale(1);
}
.card__item:hover .card__name,.card__item:hover .card__price{
    transform: translate(-90px,-50px);
}
.card__size, .card__color{
    display: flex;
    font-size: 16px;
    text-align: center;
    padding:5px 0px;
}
.card__size a{
    text-decoration: none;
    color: white;
    margin-left: 17px;
    border-radius: 3px;
    background-color: gray;
    padding:1.5px;
}
.card__color span{
    width:20px;
    height:20px;
    border-radius: 50%;
    margin: 0px 5px;
}
.card__color--red{
    background: red;
}
.card__color--white{
    background: white;
}
.card__color--black{
    background: black;
}
.card__buynow, .card__addcart{
    background-color: #4daf54;
    padding:10px 20px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
}
.card__addcart{
    margin-left: 15px;
}
.card__choose{
    visibility: hidden;
    opacity:0;
    margin-top:120px;
    transition: all 0.5s;
}
.card__item:hover .card__choose{
    opacity: 100;
    visibility: visible;
}
.card__item:hover .card__choose{
    margin-top:0px;
}
.card__navigation{
    display: flex;
    width:100% auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0px 50px;
} */




*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
:root{
    --primary-color:#4daf54;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: white;
    font-size: 14px;
    height:100vh;
    background: linear-gradient(to right, #4daf54,#3d8880);
}
.card__item{
    width:25%;
    height:375px;
    border-radius: 5px;
    position: relative;
    background-color: #272d40;
    padding:5px;
    margin-top:20px;
    border-right: 2px solid white;
}
.card__heart, .card__cart{
    position: absolute;
    color: white;
    left:10px;
    top:10px;
}
.card__cart{
    left:unset;
    right:10px;
}
.card__img img{
    width: 100%;
    height:200px;
    margin-top:30px;
    border-radius: 5px;
}
.card__name, .card__introduce, .card__price{
    text-align: center;
    margin-top:4px;
    font-size: 15px;
}
.card__introduce{
    height:40px;
    padding:10px 0px;
}
.card__name, .card__introduce{
    color: #4daf54;
}
.card__name p{
    position: relative;
    display: inline;
}
.card__name p::after{
    content: "";
    position: absolute;
    background-color:rgb(105, 200, 105);
    width:100%;
    height:2px;
    left:0;
    bottom:0;
    transform: scale(0);
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__name p:hover::after{
    transform: scale(1);
}
.card__price{
    color: white;
}
.card__buynow, .card__addcart{
    padding:10px;
    border-radius: 5px;
    background-color: #4daf54;
    color: white;
    font-size: 15px;
}
.card__addcart{
    margin-left:10px ;
}
.card__action{
    transition: all 0.5s;
    margin-top:100px;
    opacity: 0;
    visibility: hidden;
}
.card__item:hover .card__action{
    opacity: 100;
    visibility: visible;
    margin-top:5px;
}
.card__items{
    width:100% auto;
    display: flex;
    flex-wrap: wrap;
    margin:0px 50px;
}
.infor__product{
    font-size: 20px;
    text-align: center;
}
.infor__product h3{
    display: inline-block;
    position: relative;
}
.infor__product h3::after{
    content: "";
    height:3px;
    width: 100%;
    background-color: aliceblue;
    position: absolute;
    left:0;
    bottom:0;
    transform: scale(0);
    transition:all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.infor__product h3:hover::after{
    transform: scale(1);
}


